---
title: api
layout: header-footer
---

 

     <!-- Header -->
      <header class="header text-center text-lg-left pb-0" style="background-color: #f8fcff">
        <div class="container">
          <div class="row h-300">

		   
   	    <div class="col-md-8 col-lg-6">
            <h3>ConnectedApps</h3>
			<h2>Start using a ConnectedApp to solve a business problem</h2>
			<h3> store.qnect.apps</h3>
          </div>
		   
		   
		    <div class="col-lg-6 ml-auto align-self-end">
         <img class="shadow-6 mt-6" src="../assets/img/preview/laptop-2.png" alt="img">
            </div>

          </div>
        </div>
      </header><!-- /.header -->



    
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>API</h2>
            <hr>
       <p class="lead">APIs are a mite lower thank Apps on the Pecking order, they can be seen as Apps strictly for integration. 
                       APIs oﬀer http-based interfaces for sending bulk SMS and initiating USSD push information to subscribers who are subscribed to your instance or who don’t have a DND proﬁle. </p>
          </header>

          </div>
        </div>
      </section>
	
	
	

      


   