---
title: feedback
layout: header-footer
---

<!-- Header -->
      <header class="header text-center text-lg-left pb-0" style="background-color: #f8fcff">
        <div class="container">
          <div class="row h-100">

           
		   
		    <div class="col-lg-3 mr-auto">
              <h2>Case Study</h2>
                 <p class="lead-2"> Find out how businesses have solved pressing issues with ConnectedApps and be inspired to start your own journey today.</p>
              <p><h5> www.qnect.apps</p></h5>
            </div>
		   
		   
		   

            <div class="col-md-6 text-center order-md-first">
              <img class="mr-40" src="../assets/img/preview/phone-3.png" alt="...">
            </div>


          </div>
        </div>
      </header><!-- /.header -->


   <section class="section">
        <div class="container">
          <header class="section-header">
              <div class="col-md-8 mx-auto">
              <h2>Public and Whitelisted Feedback Channels</h2>
              <p class="lead"> Kvothe Pharmaceuticals manufactures and distributes a number of oﬀ-the-shelve drugs in the Nigerian market and recently they have noticed a big problem with the more expensive product line, fake products are being introduced into the market. This has the potential to hurt brand perception and exposes the company to serious litigation.</p>
              <p>Kvothe Pharma decided a way to validate every product purchase was the way to go and needs a solution simple enough for everyone to use, they have decided to include a unique code for every item sold which can only be accessed after a seal is broken.</p>
			  <p> With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code. Customers simply need to provide their code and the batch number is returned to verify the purchase is genuine.</p> 
              <p> Kvothe Pharma is able to concentrate on marketing and public enlightenment and are guaranteed a fantastic ROI. Other Pharmaceuticals have learnt of the success of this initiative and are currently generating their own code for validation.</p>

            </div>
          </header>

          </div>
        </div>
      </section>