---
title: good
layout: header-footer
---

 <!-- Header -->
      <header class="header text-center text-lg-left pb-0" style="background-color: #f8fcff">
        <div class="container">
          <div class="row h-100">

           
		   
		    <div class="col-lg-5 mr-auto">
              <h2>Case Study</h2>
                 <p class="lead-2" > Find out how businesses have solved pressing issues with ConnectedApps and be inspired to start your own journey today.</p>
              <p><h5> www.qnect.apps</p></h5>
            </div>
		   
		   
		   

            <div class="col-lg-6 ml-auto align-self-end">
              <img class="shadow-6 mt-6" src="../assets/img/preview/laptop-2.png" alt="img">
            </div>

          </div>
        </div>
      </header><!-- /.header -->


<section class="section">
        <div class="container">
          <header class="section-header">
            <h2>The Good(?) Old Way
</h2>
            <hr>
       <p class="lead">What do you do when you suddenly realise all your customers are with the phone companies already and you want to reach them in some innovative new ways? Do you send an RFQ for Independent Software Vendors to create a custom app for you? Spend months and ﬁnally deliver it through your third vendor engagement only to realise you still need to get a license from the regulators to put it out there. Just when you thought it was all over, you realise you still need to setup and maintain a connection from your premise or the cloud to all the GSM providers. So much for the good old ways, Phew!</p>
         <p>Spark your creativity as you discover amazing ways you can use ConnectedApps. While you are at it, you can suggest your ideas and we may just be available to meet your needs. 
</p></header>

          </div>
        </div>
      </section>