---
title: reminder
layout: header-footer
---

<!-- Header -->
      <header class="header text-center text-lg-left pb-0" style="background-color: #f8fcff">
        <div class="container">
          <div class="row h-100">

           
		   
		   
            <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
              <h4>Case Study</h4>
              <p>Find out how businesses have solved pressing issues with ConnectedApps and be inspired to start your own journey today.</p>
            </div>
		   
		   
		   
		    <div class="row gap-y">

            <div class="col-md-8 mx-auto mb-7">
              <img src="../assets/img/preview/feature-tablet.png" alt="..." data-aos="fade-up" data-aos-duration="2000">
            </div>
		   

        </div>
		</div>
      </header><!-- /.header -->



    <section class="section">
        <div class="container">
          <header class="section-header">
                        <hr>
			
			
		<div class="col-md-8 mx-auto">
              <h2>Reminders</h2>
              <p class="lead"> Vehicle registration reminders, policy expiration reminders. Engage and increase sales.</p>
              
            </div>	
			
			
			
			
			
			
     
         </header>

          </div>
        
      </section>
	  
	  <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>