---
title: study
layout: header-footer
---

<!-- Main Content -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | How it work steps
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">

          <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="../assets/img/vector/1.png" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
              <h3>Public and Whitelisted Feedback Channels</h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code.
			     Customers simply need to provide their code and the batch number is returned to verify the purchase is genuine. </p>
			  <a href="feedback.html">Read More</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 mr-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
              <h3>Premium SMS Subscriptions</h3>
              <p>Kvothe Pharmaceuticals manufactures and distributes a number of oﬀ-the-shelve drugs in the Nigerian market and recently they have noticed a big problem with the more expensive product line, fake products are being introduced into the market. 
			     This has the potential to hurt brand perception and exposes the company to serious litigation.</p>
				  <a href="premium.html">Read More</a>
            </div>

            <div class="col-md-6 text-center order-first order-md-last">
              <img src="../assets/img/vector/2.png" alt="...">
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="../assets/img/vector/3.png" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
              <h3>Getting Patient Feedbacks through Interactive Surveys</h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code.
			      Customers simply need to provide their code and the batch number is returned to verify the purchase is genuine. </p>
				   <a href="patient.html">Read More</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">04</p>
              <h3>Seat Reservations</h3>
              <p> Kvothe Pharmaceuticals manufactures and distributes a number of oﬀ-the-shelve drugs in the Nigerian market and recently they have noticed a big problem with the more expensive product line,
			      fake products are being introduced into the market. This has the potential to hurt brand perception and exposes the company to serious litigation.</p>
				  <a href="seat.html">Read More</a>
            </div>
			 <div class="col-md-6 ml-auto text-center order-first order-md-last">
              <img src="../assets/img/vector/4.png" alt="...">
            </div>
			
			</div>
			
			
			<div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="../assets/img/vector/1.png" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">05</p>
              <h3>Mobile Surveys</h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code.
			     Customers simply need to provide their code and the batch number is returned to verify the purchase is genuine. </p>
			  <a href="survey.html">Read More</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 mr-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">06</p>
              <h3>Reminders</h3>
              <p>Kvothe Pharmaceuticals manufactures and distributes a number of oﬀ-the-shelve drugs in the Nigerian market and recently they have noticed a big problem with the more expensive product line, fake products are being introduced into the market. 
			     This has the potential to hurt brand perception and exposes the company to serious litigation.</p>
				  <a href="reminder.html">Read More</a>
            </div>

            <div class="col-md-6 text-center order-first order-md-last">
              <img src="../assets/img/vector/2.png" alt="...">
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="../assets/img/vector/3.png" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">07</p>
              <h3>Security Alerts</h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code.
			      Customers simply need to provide their code and the batch number is returned to verify the purchase is genuine. </p>
				   <a href="security">Read More</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">08</p>
              <h3>The Good(?) Old Way</h3>
              <p> What do you do when you suddenly realise all your customers are with the phone companies already and you want to reach them in some innovative new ways? Do you send an RFQ for Independent Software Vendors to create a custom app for you? Spend months and ﬁnally deliver it through your third vendor engagement only to realise you still need to get a license from the regulators to put it out there. Just when you 
			     thought it was all over, you realise you still need to setup and maintain a connection from your premise or the cloud to all the GSM providers. So much for the good old ways, Phew!</p>
				  <a href="good.html">Read More</a>
            </div>
			 <div class="col-md-6 ml-auto text-center order-first order-md-last">
              <img src="../assets/img/vector/4.png" alt="...">
            </div>
			
			</div>
			
			
			
		
			 <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="../assets/img/vector/1.png" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">09</p>
              <h3>Drug and Food Veriﬁcation</h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code. Customers simply need to provide their
			     code and the batch number is returned to verify the purchase is genuine.  </p>
			  <a href="feedback.html">Read More</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 mr-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">10</p>
              <h3>USSD Voting: Miss Congeniality </h3>
              <p>With the SMS Validation ConnectedApp, the company continually uploads batch number and code for their product on their instance of the app and have obtained both a USSD and SMS code. Customers simply need to provide their code and the batch 
			     number is returned to verify the purchase is genuine. </p>
				  <a href="premium.html">Read More</a>
            </div>

            <div class="col-md-6 text-center order-first order-md-last">
              <img src="../assets/img/vector/2.png" alt="...">
            </div>
          </div>
			
			
			
			
			
			
			
           


        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Signup
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section py-10 bg-img-bottom" style="background-image: url(../assets/img/bg/2.jpg)" data-overlay="5">
        <div class="container">

          <h3 class="text-center text-white">Start Using ConnectedApp!</h3>         

            <div class="col-md-6 col-lg-3">
              <button style="margin-left:410px" class="btn btn-lg btn-block btn-success h-100">Get Started</button>
            </div>

        </div>

      </section>


    </main><!-- /.main-content -->
